# Ignore database files
*.sqlite3
*.db

# Ignore virtual environment
venv/
env/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore local settings (settings_local.py)
local_settings.py

# Ignore media and static files (if served separately)
media/
static/

# Ignore secret key and sensitive information
*.secret_key
*.env

# Ignore logs
*.log

# Ignore database migrations
*/migrations/

# Ignore IDE and text editor files
.idea/
.vscode/
*.sublime-workspace
*.swp
.DS_Store

# Ignore backup and temporary files
*~
*.bak
